:host {
  //display: inline-block;
  //position: fixed;
  //text-align: right;
  //right: 0;
  //bottom: 0;
  //padding: 30px;
  //
  //max-width: calc(100% - 60px);

  .scroll-to-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    opacity: 0;
    transition: all .2s ease-in-out;
  }
  .show-scrollTop {
    opacity: 1;
    transition: all .2s ease-in-out;
  }

  i {
    font-size: 20pt;
  }
}
