:host {
  display: block;
  width: 100%;

  > .image-uploader {
    display: block;
    width: 100%;
    border: dashed 1px #aaaaaa;
    padding: 10px;

    > .dragDrop {
      display: block;
      width: 100%;
      padding: 20px;
      vertical-align: middle;
      text-align: center;
      cursor: pointer;
      border: dashed 1px #aaaaaa;

      > .uploadicon {
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;

        > i {
          font-size: 30pt;
        }
      }

      > .uploadtext {
        display: block;
        width: 100%;
        padding: 0;
        margin: 10px 0 0 0;
        font-size: 9pt;
        font-style: italic;
      }
    }

    > .fileupload-input {
      display: none;
    }
  }

  > .mainactions {
    display: block;
    width: 100%;
    text-align: right;
    margin-top: 20px;
  }

  .imgBack {
    width: 70px;
    height: 70px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .errorMsgSize {
    display: block;
    padding: 0;
    margin: 5px 0px 0px 0px;
    color: red;
    font-size: 10pt;
  }

  .errorMsgTyp {
    display: block;
    padding: 0;
    margin: 5px 0px 0px 0px;
    color: red;
    font-size: 10pt;
  }
}
