<div class="image-uploader">
  <div class="dragDrop" (click)="fileupload.click()" aimDragdropfile
       (onFileDropped)="uploadFile($event); fileupload.value=''"
       [allowedTypes]="acceptedTypes"
       [maxSize]="maxSize" #drapDropEl>
    <p class="uploadicon"><i class="fal fa-cloud-upload"></i></p>
    <p class="uploadtext">Bitte Bild(er) hineinziehen (Max. Dateigrösse 5MB). </p>
  </div>
  <input type="file" #fileupload class="fileupload-input"
         (change)="uploadFile($event.target.files); fileupload.value=''" multiple
         [accept]="getAcceptedTypes()">

  <p class="errorMsgSize" *ngIf="errorMsgSize">Dokumentgrösse nicht erlaubt.</p>
  <p class="errorMsgTyp" *ngIf="errorMsgTyp">Dokumenttyp nicht erlaubt.</p>

  <aim-image-uploader-item *ngFor="let item of files;let i=index"
                           [file]="item" [indx]="i"></aim-image-uploader-item>


</div>
<div class="mainactions">
  <button type="button" mat-raised-button [color]="'primary'" (click)="clearAllImages()"
          [disabled]="files.length === 0">Alle Bilder entfernen
  </button>
</div>

