<div class="container h-75 d-flex justify-content-center align-items-center">
    <div class="row justify-content-center">
        <div class="col-12">
            <h1 class="text-center">Smart Fridge</h1>
        </div>

        <div class="col-12 text-center">
            <mat-button-toggle-group>
                <mat-button-toggle routerLink="/rezepte">Rezepte</mat-button-toggle>
                <mat-button-toggle routerLink="/kuehlschrank" value="italic">Kühlschrank</mat-button-toggle>
            </mat-button-toggle-group>
        </div>

    </div>
</div>

