<div class="container">

  <button class="back-button" mat-icon-button routerLink="/fridge">
    <mat-icon>arrow_back</mat-icon>
  </button>


  <h1 class="text-center">Zutaten</h1>

  <mat-list>
    <div mat-subheader>Ablaufdatum beachten</div>
    <mat-list-item>
      <mat-icon mat-list-icon color="warn">close</mat-icon>
      <div mat-line>Eier</div>
      <div mat-line>09.05.2021</div>
    </mat-list-item>

    <mat-list-item>
      <mat-icon mat-list-icon style="color: orange">remove</mat-icon>
      <div mat-line>2 Liter Milch </div>
      <div mat-line>10.05.2021</div>
    </mat-list-item>

    <mat-divider></mat-divider>
    <div mat-subheader>Inhalt</div>

    <mat-list-item>
      <mat-icon mat-list-icon style="color: green">check</mat-icon>
      <div mat-line>Kopfsalat</div>
      <div mat-line>12.05.2021</div>
    </mat-list-item>

    <mat-list-item>
      <mat-icon mat-list-icon style="color: green">check</mat-icon>
      <div mat-line>200 Gramm Gurke</div>
      <div mat-line>13.05.2021</div>
    </mat-list-item>


    <mat-list-item>
      <mat-icon mat-list-icon style="color: green">check</mat-icon>
      <div mat-line>200 Gramm Blumenkohl</div>
      <div mat-line>15.05.2021</div>
    </mat-list-item>

    <mat-list-item>
      <mat-icon mat-list-icon style="color: green">check</mat-icon>
      <div mat-line>2 Zitronen</div>
      <div mat-line>15.05.2021</div>
    </mat-list-item>

    <mat-list-item>
      <mat-icon mat-list-icon style="color: green">check</mat-icon>
      <div mat-line>250 Gramm Salami</div>
      <div mat-line>15.05.2021</div>
    </mat-list-item>

  </mat-list>
</div>
