<div class="container">
  <h1>Rezepte / nur mit vorhandenen Zutaten / Rezept 1</h1><br/>

  <div class="select-cntainer">
  <select>
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
  </select>

  </div>
  Personen
  <br />
  <br />

  <div class="zutaten">
    <h4>Zutatenliste</h4>
    <p>Item 1</p>
    <p>Item 2</p>
    <p>Item 3</p>
    <p>Item 4</p>
  </div>
  <br/>
  <div class="anleitung">
    <h4>Anleitung</h4>
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
    magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
    gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
    elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
    eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
    dolor sit amet.
  </div>


  <a class="home-back" [routerLink]="'/rezepte/vorhandenezutaten'"><i class="fal fa-arrow-left"></i> zurück</a>
</div>
