:host {
  display: inline-block;
  padding-left: 5px;

  i {
    font-size: 12pt;
    color: #1E2129;
    width: 18px;
    min-width: 18px;
    max-width: 18px;
    height: 18px;
    min-height: 18px;
    max-height: 18px;
  }
}
