// ******************** general *********************************

.mat-placeholder-required {
  color: red !important;
  background: #ffffff;
}

mat-form-field {
  width: 100%;
}

.mat-form-field-outline {
  -webkit-box-shadow: 2px 2px 4px 0px rgba(204, 204, 204, 0.3);
  -moz-box-shadow: 2px 2px 4px 0px rgba(204, 204, 204, 0.3);
  box-shadow: 2px 2px 4px 0px rgba(204, 204, 204, 0.3);
}

// ******************** not touched input *********************************

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: #eeeeee;
  opacity: 1;
}

.mat-form-field-appearance-outline .mat-input-element {
  margin: 0 0 3px 10px !important;
  font-size: 12pt;
  height: 100%;
  vertical-align: middle;
  padding: 0 15px 0 0;
}

.mat-error {
  display: none !important;
  font-size: 9pt;
  margin-bottom: 5px;
  //padding-bottom: 10px;

  @include media-breakpoint-down('sm') {
    text-align: right;
  }

  &:first-child {
    display: block !important;
  }
}

.mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0 !important;
}

// ******************** valid input *********************************
.mat-form-field-appearance-outline.ng-dirty.ng-valid .mat-form-field-outline-thick {
  color: #04B431;
  opacity: 1;
}

// ******************** suffix icons ***********************************
.mat-form-field-appearance-outline .mat-form-field-suffix {
  top: 0 !important;
  font-size: 1.2em;
  font-weight: 600;
  padding-right: 5px;
  //right: -10px;
}

.mat-form-field-appearance-outline .mat-form-field-suffix .action {
  cursor: pointer;
}

.mat-form-field-appearance-outline .mat-form-field-prefix {
  top: 0 !important;
  padding-right: 10px;
  padding-left: 2px;
  //padding-top: 10px;
  font-size: 1.6em;
  border-right: 1px solid #bbbbbb;

  -webkit-box-shadow: 25px 6px 25px -31px rgba(0,0,0,0.75);
  -moz-box-shadow: 25px 6px 25px -31px rgba(0,0,0,0.75);
  box-shadow: 25px 6px 25px -31px rgba(0,0,0,0.75);
}

.mat-form-field-appearance-outline .mat-form-field-subscript-wrapper {
  padding: 0 0 5px 0 !important;
}

// ******************** disabled *********************************
.mat-form-field-disabled  {
  .mat-form-field-outline{
    background-color: #F2F2F2;
  }
}
