@import "src/app/@core/scss/variables/global";
@import "src/app/@core/scss/mixins/breakpoints";

:host {
  display: block;
  width: 100%;
  text-align: center;

  a {
    display: inline-block;
    width: 250px;
    margin-top: 20px;
  }

  .item {
    display: inline-block;
    border: 1px solid #000000;
    margin-top: 10px;
    padding: 10px;

    &:hover {
      background-color: $site-theme-blue;
      color: #ffffff;
    }

     h1 {
      font-size: 14pt;
    }

    h2 {
      font-size: 12pt ;
    }
  }

  .home-back {
    font-size: 12pt;
  }
}
