$site-font: "Roboto Condensed", sans-serif;

$site-width: 1200px;
$site-theme-color: #fb9305;
$site-theme-blue: #0049b1;



.back-button{
  .mat-icon{
    font-size: 30px;
  }
}

.food-img{
  height: 200px;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.vh-75{
  height: 75vh;
}
