<div class="dialog-bg">
  <div class="dialog-window">
    <div class="dialog-header">
      <div class="title">{{title}}</div>
      <div class="actions">
        <i class="fal fa-times" (click)="closeMe()"></i>
      </div>
    </div>
    <div class="dialog-content">
      <ng-content></ng-content>
    </div>
    <div class="dialog-footer">
      <div class="left">
        <aim-promise-button (btnAction)="closeMe()">Abbrechen</aim-promise-button>
      </div>
      <div class="right">
        <aim-promise-button #speichern (btnAction)="runPromise()">Speichern
          <aim-promise-button-icon>
            <i class="far fa-chevron-right"></i>
          </aim-promise-button-icon>
        </aim-promise-button>
      </div>
    </div>
  </div>
</div>
