@import "../../../@core/scss/variables/global";
@import "../../../@core/scss/mixins/breakpoints";

:host {
  display: block;
  width: 100%;

  > .submenu-container {
    display: block;
    width: 100%;
    text-align: left;

    border: 1px solid #dddddd;

    padding-bottom: 0;

    @include media-breakpoint-down('sm') {
      padding-bottom: 20px;
    }

    -webkit-box-shadow: 0px 0px 12px -7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 12px -7px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 12px -7px rgba(0, 0, 0, 0.3);

    > a {
      display: block;
      width: 100%;
      text-decoration: none;
      color: #000000;
      padding: 10px;
    }
  }
}
