<div class="container">

    <button class="back-button" mat-icon-button routerLink="/kuehlschrank">
        <mat-icon>arrow_back</mat-icon>
    </button>


    <h1 class="text-center">Rezepte</h1>

    <div class="row justify-content-center">
        <mat-button-toggle-group  [(ngModel)]="current">
            <mat-button-toggle value="all">Alle</mat-button-toggle>
            <mat-button-toggle value="vegi">Vegetarisch</mat-button-toggle>
            <mat-button-toggle value="vegan">Vegan</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <div class="row justify-content-center mt-2">
        <mat-slide-toggle class="example-margin" labelPosition="before" [color]="'primary'" [(ngModel)]="quickandeasy">schnell und einfach
        </mat-slide-toggle>
    </div>



    <div class="row mt-3">

        <div class="col-12">
            <mat-card class="example-card" (click)="routeToRezept()">
                <div  class="food-img" mat-card-image [style.background]="'url(assets/images/food/spaghetti.png)'"></div>
                <mat-card-content>Spaghetti Bolognese</mat-card-content>
            </mat-card>
        </div>

        <div class="col-12 mt-2">
            <mat-card class="example-card" (click)="routeToRezept()">
                <div  class="food-img" mat-card-image [style.background]="'url(assets/images/food/pizza.png)'"></div>
                <mat-card-content>Blechpizza</mat-card-content>
            </mat-card>
        </div>

    </div>


</div>
