<div class="container">
  <h1>Rezepte / nur mit vorhandenen Zutaten</h1>
  <a class="customButtonBlueLink selected" [routerLink]="'/rezepte/vorhandenezutaten'">Alle</a>
  <a class="customButtonBlueLink" [routerLink]="'/rezepte/vorhandenezutaten/vegetarisch'">Vegetarisch</a>
  <a class="customButtonBlueLink" [routerLink]="'/rezepte/vorhandenezutaten/vegan'">Vegan</a>

  <div class="list">
    <div class="left">
      <button (click)="routeToRezept()">Rezept 1</button><br />
      <button (click)="routeToRezept()" *ngIf="!quickandeasy">Rezept 2</button><br />
      <button (click)="routeToRezept()" *ngIf="!quickandeasy">Rezept 3</button><br />
      <button (click)="routeToRezept()">Rezept 4</button>
    </div>
    <div class="right">
      <button (click)="routeToRezept()" *ngIf="!quickandeasy">Rezept 5</button><br />
      <button (click)="routeToRezept()">Rezept 6</button><br />
      <button (click)="routeToRezept()" *ngIf="!quickandeasy">Rezept 7</button><br />
      <button (click)="routeToRezept()">Rezept 8</button>
    </div>
  </div>

  <br/>
  <br/>
  <mat-checkbox class="example-margin" [color]="'primary'" [(ngModel)]="quickandeasy">schnell und einfach</mat-checkbox>
  <br/>

  <a class="home-back" [routerLink]="'/rezepte'"><i class="fal fa-arrow-left"></i> zurück</a>
</div>
