@import "src/app/@core/scss/variables/global";
@import "src/app/@core/scss/mixins/breakpoints";

:host {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;

  overflow: hidden;
  white-space: nowrap;
  position: relative;
}
