

<div class="container">

  <button class="back-button" mat-icon-button routerLink="/uebersicht">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <h1 class="text-center">Kühlschrank</h1>

  <div class=" col-12 text-center mt-2">
    <button mat-raised-button color="primary" routerLink="/kuehlschrank/zutaten">Vorhandene Zutaten</button>
  </div>
  <div class="col-12 text-center mt-2">
    <button mat-raised-button color="primary" routerLink="/kuehlschrank/liveview">Live View</button>
  </div>



</div>
