

<div class="container">

  <button class="back-button" mat-icon-button routerLink="/uebersicht">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <h1 class="text-center">Rezepte</h1>

  <div class=" col-12 text-center mt-2">
    <button mat-raised-button color="primary" routerLink="/rezepte/vorhandenezutaten">Mit Vorhandene Zutaten kochen</button>
  </div>
  <div class="col-12 text-center mt-2">
    <button mat-raised-button color="primary" routerLink="/rezepte/fehlendezutaten">Alle Rezepte</button>
  </div>



</div>
