<div class="container">
  <h1>Rezepte</h1>


  <a class="customButtonBlueLink" [routerLink]="'/rezepte/vorhandenezutaten'">Rezepte nur mit vorhandenen Zutaten</a><br/>
  <a class="customButtonBlueLink" [routerLink]="'/rezepte/fehlendezutaten'">Weitere Rezepte zu denen Zutaten fehlen</a><br/>
<!--  <a class="customButtonBlueLink" [routerLink]="'/rezepte/vorhandenezutaten'">Grosser Hunger</a><br/>-->
<!--  <a class="customButtonBlueLink" [routerLink]="'/rezepte/vorhandenezutaten'">Vegan</a><br/>-->
<!--  <a class="customButtonBlueLink" [routerLink]="'/rezepte/vorhandenezutaten'">Vegetarisch</a><br/>-->

<!--  <a class="customButtonBlueLink" [routerLink]="'/rezepte/vorhandenezutaten'">Schnell und einfach</a>-->


  <a class="home-back" [routerLink]="'/uebersicht'"><i class="fal fa-arrow-left"></i> zurück</a>
</div>
