:host {
  display: inline-block;
  position: absolute;
  height: 50px;
  width: 50px;
  top: 50%;
  bottom: 50%;
  left: 30px;
  cursor: pointer;
  overflow: hidden;

  -webkit-box-shadow: 0px 0px 87px -45px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 87px -45px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 87px -45px rgba(0,0,0,0.75);

  > .prev-btn {
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.6);

    color: #000000;

    > i {
      margin: 12px 3px 10px 0px;
      font-size: 25px;
    }
  }
}
