<div class="index-container">
  <div class="step-index" [@selectedNot]="iamSelected">
    {{itemIndex + 1}}
  </div>
</div>
<div class="accordion-container" [@slideInOut]="stateOpenClose">
  <div class="header">
    <div class="title">
      {{title}}
    </div>
    <div class="opencloseicon" (click)="openCloseContent()" [@rotateUpDown]="stateRotateUpDown">
      <i class="fal fa-angle-down"></i>
    </div>
  </div>
  <div class="content">
    <aim-messager [onlyOneInstance]="true" #itemMsg></aim-messager>
    <ng-content></ng-content>
  </div>
  <div class="footer">
    <div class="left">
      <aim-promise-button (btnAction)="back()" *ngIf="!iamFirst">zurück</aim-promise-button>
    </div>
    <div class="right">
      <aim-promise-button (btnAction)="next()" #btnNext *ngIf="!nextBtnText">Weiter</aim-promise-button>
      <aim-promise-button (btnAction)="next()" #btnNext *ngIf="nextBtnText">{{nextBtnText}}</aim-promise-button>
    </div>
  </div>
</div>
