@import "src/app/@core/scss/variables/global";
@import "src/app/@core/scss/mixins/breakpoints";

:host {
  display: inline-block;
  width: 100%;

  vertical-align: top;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;

  > .step-content {
    display: block;
    width: 100%;
  }
}
